<section class="p-4 mt-3 bg-black">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between flex-wrap">
          <div>
            <h3 class="text-capitalize fw-bold text-main h5">
              get the
              <span class="bg-warning text-black fw-bold rounded p-1 mx-2"
                >WATCH 24</span
              >
              App
            </h3>

            <p class="text-capitalize">
              we will send you a link , open it on your phone to download the
              app
            </p>
          </div>
          <div class="d-flex w-100 gap-2">
            <input
              type="text"
              name=""
              class="form-control p-2"
              placeholder="Enter Your Email"
            />
            <button class="btn btn-warning p-2 w-25">SEND</button>
          </div>
        </div>
        <hr />
        <div class="container-fluid">
          <div class="row gy-2 mt-2 flex-wrap">
            <div class="col-md-4">
              <h6
                class="shadow-lg text-uppercase text-dark fw-bold m-0 p-0 me-2"
              >
                CopyRight ©️ 2024 , By :
                <span id="developer" class="text-uppercase">Omar Eldeeb</span>
              </h6>
            </div>
            <div class="col-md-4">
              <div class="text-center">
                <img src="assets/movie.png" alt="" />
                <span class="bungee-spice-regular">WATCH 24</span>
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="_angular d-flex align-items-center justify-content-center"
              >
                <p class="p-0 m-0 fw-bold h6 me-2">Powerd By :</p>
                <img src="assets/angular.png" alt="" />
                <img src="assets/tmdb.png" alt="" />
              </div>
            </div>
            <!-- <div class="col-md-3">
              <div
                class="d-flex align-items-center justify-content-center gap-2 pt-2"
              >
                <p class="p-0 m-0 fw-bold h6 me-2">Contact Me:</p>
                <i class="fa-brands fa-linkedin fa-2xl text-warning"></i>
                <i class="fa-brands fa-square-github fa-2xl text-warning"></i>
                <i class="fa-brands fa-square-whatsapp fa-2xl text-warning"></i>
                <i class="fa-solid fa-envelope fa-2xl text-warning"></i>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
