<!--^ ======================== start navbar component ======================-->
<nav #navbar class="navbar navbar-expand-lg fixed-top mx-0 mb-2">
  <div class="container-fluid px-0">
    <a
      class="navbar-brand text-uppercase p-2 bungee-spice-regular"
      routerLink="/home"
    >
      <img src="assets/movie.png" alt="logo" /> WATCH24
    </a>
    <button
      class="navbar-toggler bg-dark border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-caret-down fs-3"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item">
          <a
            class="nav-link text-uppercase px-2"
            routerLinkActive="acive-link   "
            routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase px-2"
            routerLinkActive="acive-link   "
            routerLink="/tvshow"
            >TV-Series</a
          >
        </li>

        <li class="nav-item dropdown bg-dark rounded">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            EXPLORE
          </a>
          <ul class="dropdown-menu bg-black">
            <li class="px-1 py-1">
              <a
                class="dropdown-item text-white"
                routerLinkActive="acive-link"
                routerLink="/trending"
                >Trending Movies</a
              >
            </li>
            <hr class="custom-hr p-0 m-0 mx-1 mx-auto" />
            <li class="px-1 py-1">
              <a
                class="dropdown-item text-white"
                routerLinkActive="acive-link"
                routerLink="/action"
                >Action Movies</a
              >
            </li>
            <hr class="p-0 m-0 mx-1 mx-auto custom-hr" />
            <li class="px-1 py-1">
              <a
                class="dropdown-item text-white"
                routerLinkActive="acive-link"
                routerLink="/adventure"
                >Adventure Movies</a
              >
            </li>
            <hr class="p-0 m-0 mx-1 mx-auto custom-hr" />
            <li class="px-1 py-1">
              <a
                class="dropdown-item text-white"
                routerLinkActive="acive-link"
                routerLink="/animation"
                >Animation Movies</a
              >
            </li>
            <hr class="p-0 m-0 mx-1 mx-auto custom-hr" />
            <li class="px-1 py-1">
              <a
                class="dropdown-item text-white"
                routerLinkActive="acive-link"
                routerLink="/comedy"
                >Comedy Movies</a
              >
            </li>
            <hr class="p-0 m-0 mx-1 mx-auto custom-hr" />
            <li class="px-1 py-1">
              <a
                class="dropdown-item text-white"
                routerLinkActive="acive-link"
                routerLink="/documentary"
                >Documen.. Movies</a
              >
            </li>
            <hr class="p-0 m-0 mx-1 mx-auto custom-hr" />
            <li class="px-1 py-1">
              <a
                class="dropdown-item text-white"
                routerLinkActive="acive-link"
                routerLink="/fiction"
                >SF Movies</a
              >
            </li>
            <hr class="p-0 m-0 mx-1 mx-auto custom-hr" />
            <li class="px-1 py-1">
              <a
                class="dropdown-item text-white"
                routerLinkActive="acive-link"
                routerLink="/horror"
                >Horror Movies</a
              >
            </li>
            <hr class="p-0 m-0 mx-1 mx-auto custom-hr" />
            <li class="px-1 py-1">
              <a
                class="dropdown-item text-white"
                routerLinkActive="acive-link"
                routerLink="/arabic"
                >Arabic Movies</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-uppercase px-2"
            routerLinkActive="acive-link  "
            routerLink="/search"
            >Search</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--^ ======================== end navbar component ======================-->
