<!--& banner section-->
<section class="mt-4 pt-3">
  <div class="container-fluid px-0">
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <!--~ banner start-->
        <div id="carouselExampleCaptions" class="carousel slide">
          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="let banner of bannerData; let i = index"
              [ngClass]="{ active: i == 8 }"
            >
              <img
                src="https://image.tmdb.org/t/p/original/{{
                  banner.backdrop_path
                }}"
                class="d-block w-100"
                alt="banner image"
              />
              <div class="carousel-caption d-none d-md-block text-start">
                <h2 class="text-uppercase p-2 rounded shadow">
                  {{ banner.original_title }} {{ banner.original_name }}
                </h2>
                <hr />

                <p class="small rounded p-2">
                  {{ banner.overview }}
                </p>

                <span class="bg-black text-warning rounded p-1 px-2">
                  {{ banner.vote_average | number : "1.0-0" }}
                  <i class="fa-solid fa-star text-warning"></i
                ></span>

                <span
                  *ngIf="banner.first_air_date"
                  class="bg-black rounded p-1 px-2 text-warning mx-2"
                  >{{ banner.first_air_date }}</span
                >

                <span
                  class="bg-black rounded p-1 px-2 text-warning mx-2"
                  *ngIf="banner.media_type"
                  >{{ banner.media_type }}</span
                >

                <span
                  class="bg-black rounded p-1 px-2 text-warning mx-2"
                  *ngIf="banner.origin_country"
                  >{{ banner.origin_country }}</span
                >
              </div>
            </div>
          </div>

          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev"
          >
            <div
              class="bg-dark d-flex justify-content-center align-items-center p-2 rounded-circle"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
            </div>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next"
          >
            <div
              class="bg-dark d-flex justify-content-center align-items-center p-2 rounded-circle"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
            </div>

            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!--~ banner end-->
      </div>
    </div>
  </div>
</section>
<!--& banner section-->

<!--& Popular movies section-->
<section class="mt-3">
  <div class="container-fluid">
    <h2
      class="h2__ text-uppercase text-warning bg-black p-2 rounded shadow fw-bolder"
    >
      Popular Movies :
    </h2>
    <div class="row p-2 g-3 justify-content-center">
      <div
        class="card-container col-md-3 col-lg-2 col-sm-6"
        *ngFor="
          let t of popularMovies
            | paginate
              : {
                  id: 'moviePaginate',
                  itemsPerPage: pageSize,
                  currentPage: currentPage,
                  totalItems: total
                }
        "
      >
        <div class="movie-card position-relative">
          <img
            [routerLink]="['/details', t.id]"
            src="https://image.tmdb.org/t/p/original/{{ t.backdrop_path }}"
            alt="poster"
            class="w-100 rounded shadow"
          />

          <p class="text-white rounded px-2 py-1 bg-dark">
            {{ t.title.substring(0, 15) }}
          </p>

          <span class="bg-dark rounded p-1">
            {{ t.vote_average | number : "1.0-0" }}
            <i class="fa-solid fa-star text-warning"></i
          ></span>

          <div
            [routerLink]="['/details', t.id]"
            class="layer_ rounded text-white fw-bold"
          >
            <div class="icon-container me-2">
              <i class="fa-solid fa-info text-warning"></i>
            </div>
            <small class="h5 border border-1 border-white p-1">
              More Details <i class="fa-solid fa-arrow-right-long p-0 m-0"></i
            ></small>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <pagination-controls
        class="my-pagination"
        id="moviePaginate"
        (pageChange)="pageChanged($event)"
        (pageBoundsCorrection)="pageChanged($event)"
        [maxSize]="9"
        [directionLinks]="true"
        [autoHide]="true"
        [responsive]="true"
        previousLabel="Previous"
        nextLabel="Next"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
      </pagination-controls>
    </div>
  </div>
</section>
<hr class="mx-3" />
<!--& Popular movies section-->

<!--& trending movies carousel-->
<section>
  <div class="container-fluid">
    <div class="row mt-3">
      <div>
        <h2
          class="_h2 my-4 bg-black rounded text-warning fw-bold p-2 text-uppercase"
        >
          Trending Movies :
        </h2>
        <owl-carousel-o [options]="customOptions_2">
          <ng-container *ngFor="let t of trendingMovies">
            <ng-template carouselSlide [id]="t.id">
              <div class="poster_">
                <img
                  [routerLink]="['/details', t.id]"
                  class="rounded shadow"
                  width="220"
                  height="300"
                  src="https://image.tmdb.org/t/p/original/{{
                    t.backdrop_path
                  }}"
                />
                <span class="bg-dark rounded p-1">
                  {{ t.vote_average | number : "1.0-0" }}
                  <i class="fa-solid fa-star text-warning"></i
                ></span>

                <p
                  class="text-white text-center bg-dark rounded p-2 mt-1 shadow"
                >
                  {{ t.title.substring(0, 20) }}
                </p>
                <div class="layer rounded" [routerLink]="['/details', t.id]">
                  <p
                    class="small m-1 rounded mx-2 p-2 px-4 text-danger bg-dark mx-1"
                  >
                    {{ t.overview.split(" ").slice(0, 20).join(" ") }}
                  </p>
                  <hr />
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!--& trending movies carousel-->

<!--& action movies carousel-->
<section>
  <div class="container-fluid">
    <div class="row mt-3">
      <div>
        <h2
          class="_h2 my-4 bg-black rounded text-warning fw-bold p-2 text-uppercase"
        >
          Action Movies :
        </h2>
        <owl-carousel-o [options]="customOptions_2">
          <ng-container *ngFor="let t of actionMovies">
            <ng-template carouselSlide [id]="t.id">
              <div class="poster_">
                <img
                  [routerLink]="['/details', t.id]"
                  class="rounded shadow"
                  width="220"
                  height="300"
                  src="https://image.tmdb.org/t/p/original/{{
                    t.backdrop_path
                  }}"
                />
                <span class="bg-dark rounded p-1">
                  {{ t.vote_average | number : "1.0-0" }}
                  <i class="fa-solid fa-star text-warning"></i
                ></span>

                <p
                  class="text-white text-center bg-dark rounded p-2 mt-1 shadow"
                >
                  {{ t.title.substring(0, 20) }}
                </p>
                <div class="layer rounded" [routerLink]="['/details', t.id]">
                  <p
                    class="small m-1 rounded mx-2 p-2 px-4 text-danger bg-dark mx-1"
                  >
                    {{ t.overview.split(" ").slice(0, 20).join(" ") }}
                  </p>
                  <hr />
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!--& action movies carousel-->

<!--& adventure movies carousel-->
<section>
  <div class="container-fluid">
    <div class="row mt-3">
      <div>
        <h2
          class="_h2 my-4 bg-black rounded text-warning fw-bold p-2 text-uppercase"
        >
          Adventures Movies :
        </h2>
        <owl-carousel-o [options]="customOptions_2">
          <ng-container *ngFor="let t of adventureMovies">
            <ng-template carouselSlide [id]="t.id">
              <div class="poster_">
                <img
                  [routerLink]="['/details', t.id]"
                  class="rounded shadow"
                  width="220"
                  height="300"
                  src="https://image.tmdb.org/t/p/original/{{
                    t.backdrop_path
                  }}"
                />
                <span class="bg-dark rounded p-1">
                  {{ t.vote_average | number : "1.0-0" }}
                  <i class="fa-solid fa-star text-warning"></i
                ></span>

                <p
                  class="text-white text-center bg-dark rounded p-2 mt-1 shadow"
                >
                  {{ t.title.substring(0, 20) }}
                </p>
                <div class="layer rounded" [routerLink]="['/details', t.id]">
                  <p
                    class="small m-1 rounded mx-2 p-2 px-4 text-danger bg-dark mx-1"
                  >
                    {{ t.overview.split(" ").slice(0, 20).join(" ") }}
                  </p>
                  <hr />
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!--& adventure movies carousel-->

<!--& Animation movies carousel-->
<section>
  <div class="container-fluid">
    <div class="row mt-3">
      <div>
        <h2
          class="_h2 my-4 bg-black rounded text-warning fw-bold p-2 text-uppercase"
        >
          Animation Movies :
        </h2>
        <owl-carousel-o [options]="customOptions_2">
          <ng-container *ngFor="let t of anmyMovies">
            <ng-template carouselSlide [id]="t.id">
              <div class="poster_">
                <img
                  [routerLink]="['/details', t.id]"
                  class="rounded shadow"
                  width="220"
                  height="300"
                  src="https://image.tmdb.org/t/p/original/{{
                    t.backdrop_path || t.poster_path
                  }}"
                />
                <span class="bg-dark rounded p-1">
                  {{ t.vote_average | number : "1.0-0" }}
                  <i class="fa-solid fa-star text-warning"></i
                ></span>

                <p
                  class="text-white text-center bg-dark rounded p-2 mt-1 shadow"
                >
                  {{ t.title.substring(0, 20) }}
                </p>
                <div class="layer rounded" [routerLink]="['/details', t.id]">
                  <p
                    class="small m-1 rounded mx-2 p-2 px-4 text-danger bg-dark mx-1"
                  >
                    {{ t.overview.split(" ").slice(0, 20).join(" ") }}
                  </p>
                  <hr />
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!--& Animation movies carousel-->

<!--& Comedy movies carousel-->
<section>
  <div class="container-fluid">
    <div class="row mt-3">
      <div>
        <h2
          class="_h2 my-4 bg-black rounded text-warning fw-bold p-2 text-uppercase"
        >
          Comedy Movies :
        </h2>
        <owl-carousel-o [options]="customOptions_2">
          <ng-container *ngFor="let t of comedyMovies">
            <ng-template carouselSlide [id]="t.id">
              <div class="poster_">
                <img
                  [routerLink]="['/details', t.id]"
                  class="rounded shadow"
                  width="220"
                  height="300"
                  src="https://image.tmdb.org/t/p/original/{{
                    t.backdrop_path || t.poster_path
                  }}"
                />
                <span class="bg-dark rounded p-1">
                  {{ t.vote_average | number : "1.0-0" }}
                  <i class="fa-solid fa-star text-warning"></i
                ></span>

                <p
                  class="text-white text-center bg-dark rounded p-2 mt-1 shadow"
                >
                  {{ t.title.substring(0, 20) }}
                </p>
                <div class="layer rounded" [routerLink]="['/details', t.id]">
                  <p
                    class="small m-1 rounded mx-2 p-2 px-4 text-danger bg-dark mx-1"
                  >
                    {{ t.overview.split(" ").slice(0, 20).join(" ") }}
                  </p>
                  <hr />
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!--& Comedy movies carousel-->

<!--& Documentary movies carousel-->
<section>
  <div class="container-fluid">
    <div class="row mt-3">
      <div>
        <h2
          class="_h2 my-4 bg-black rounded text-warning fw-bold p-2 text-uppercase"
        >
          Documentary Movies :
        </h2>
        <owl-carousel-o [options]="customOptions_2">
          <ng-container *ngFor="let t of documentaryMovies">
            <ng-template carouselSlide [id]="t.id">
              <div class="poster_">
                <img
                  [routerLink]="['/details', t.id]"
                  class="rounded shadow"
                  width="220"
                  height="300"
                  src="https://image.tmdb.org/t/p/original/{{
                    t.backdrop_path || t.poster_path
                  }}"
                />
                <span class="bg-dark rounded p-1">
                  {{ t.vote_average | number : "1.0-0" }}
                  <i class="fa-solid fa-star text-warning"></i
                ></span>

                <p
                  class="text-white text-center bg-dark rounded p-2 mt-1 shadow"
                >
                  {{ t.title.substring(0, 20) }}
                </p>
                <div class="layer rounded" [routerLink]="['/details', t.id]">
                  <p
                    class="small m-1 rounded mx-2 p-2 px-4 text-danger bg-dark mx-1"
                  >
                    {{ t.overview.split(" ").slice(0, 20).join(" ") }}
                  </p>
                  <hr />
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!--& Documentary movies carousel-->

<!--& fiction movies carousel-->
<section>
  <div class="container-fluid">
    <div class="row mt-3">
      <div>
        <h2
          class="_h2 my-4 bg-black rounded text-warning fw-bold p-2 text-uppercase"
        >
          Fiction Movies :
        </h2>
        <owl-carousel-o [options]="customOptions_2">
          <ng-container *ngFor="let t of fictionMovies">
            <ng-template carouselSlide [id]="t.id">
              <div class="poster_">
                <img
                  [routerLink]="['/details', t.id]"
                  class="rounded shadow"
                  width="220"
                  height="300"
                  src="https://image.tmdb.org/t/p/original/{{
                    t.backdrop_path || t.poster_path
                  }}"
                />
                <span class="bg-dark rounded p-1">
                  {{ t.vote_average | number : "1.0-0" }}
                  <i class="fa-solid fa-star text-warning"></i
                ></span>

                <p
                  class="text-white text-center bg-dark rounded p-2 mt-1 shadow"
                >
                  {{ t.title.substring(0, 20) }}
                </p>
                <div class="layer rounded" [routerLink]="['/details', t.id]">
                  <p
                    class="small m-1 rounded mx-2 p-2 px-4 text-danger bg-dark mx-1"
                  >
                    {{ t.overview.split(" ").slice(0, 20).join(" ") }}
                  </p>
                  <hr />
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!--& fiction movies carousel-->

<!--& Horror movies carousel-->
<section>
  <div class="container-fluid">
    <div class="row mt-3">
      <div>
        <h2
          class="_h2 my-4 bg-black rounded text-warning fw-bold p-2 text-uppercase"
        >
          Horror Movies :
        </h2>
        <owl-carousel-o [options]="customOptions_2">
          <ng-container *ngFor="let t of horrorMovies">
            <ng-template carouselSlide [id]="t.id">
              <div class="poster_">
                <img
                  [routerLink]="['/details', t.id]"
                  class="rounded shadow"
                  width="220"
                  height="300"
                  src="https://image.tmdb.org/t/p/original/{{
                    t.backdrop_path || t.poster_path
                  }}"
                />
                <span class="bg-dark rounded p-1">
                  {{ t.vote_average | number : "1.0-0" }}
                  <i class="fa-solid fa-star text-warning"></i
                ></span>

                <p
                  class="text-white text-center bg-dark rounded p-2 mt-1 shadow"
                >
                  {{ t.title.substring(0, 20) }}
                </p>
                <div class="layer rounded" [routerLink]="['/details', t.id]">
                  <p
                    class="small m-1 rounded mx-2 p-2 px-4 text-danger bg-dark mx-1"
                  >
                    {{ t.overview.split(" ").slice(0, 20).join(" ") }}
                  </p>
                  <hr />
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!--& Horror movies carousel-->

<!--& افلام عربي -->
<section>
  <div class="container-fluid">
    <div class="row mt-3">
      <div>
        <h2
          class="_h2 my-4 bg-black rounded text-warning fw-bold p-2 text-uppercase"
        >
          ARABIC Movies :
        </h2>
        <owl-carousel-o [options]="customOptions_2">
          <ng-container *ngFor="let t of arabicMovies">
            <ng-template carouselSlide [id]="t.id">
              <div class="poster_">
                <img
                  [routerLink]="['/details', t.id]"
                  class="rounded shadow"
                  width="220"
                  height="300"
                  src="https://image.tmdb.org/t/p/original/{{
                    t.backdrop_path || t.poster_path
                  }}"
                />
                <span class="bg-dark rounded p-1">
                  {{ t.vote_average | number : "1.0-0" }}
                  <i class="fa-solid fa-star text-warning"></i
                ></span>

                <p
                  class="text-white text-center bg-dark rounded p-2 mt-1 shadow"
                >
                  {{ t.title.substring(0, 20) }}
                </p>
                <div class="layer rounded" [routerLink]="['/details', t.id]">
                  <p
                    class="small m-1 rounded mx-2 p-2 px-4 text-danger bg-dark mx-1"
                  >
                    {{ t.overview.split(" ").slice(0, 20).join(" ") }}
                  </p>
                  <hr />
                </div>
              </div>
            </ng-template>
          </ng-container>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!--& افلام عربي -->
